////
/// @group o-barchartcard
/// @link http://registry.origami.ft.com/components/o-barchartcard
////

/// Silent mode
/// @type Bool
$o-barchartcard-is-silent: true !default;
//$fa-font-path: "fonts" !default;
$agrade: green !default;
$bgrade: #04b486 !default;
$cgrade: #dba901 !default;
$dgrade: orange !default;
$fgrade: red !default;
