.o-icon-text {
	fill: #5C656B;
	font-size: 200%;
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: bold;
}
.o-calendarImage {
	font: 10px sans-serif;
	font-size: 100%;
	text-anchor: middle;
	font-weight: bold;  
}

.o-calendar-title {
	fill: #5C656B;
	font-size: 75%;
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: bold;
}

#make parent css

.o-percentcolor__agrade {
font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		color: $agrade;
	}

	.o-percentcolor__bgrade {
font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		color: $bgrade;
	}

	.o-percentcolor__cgrade { 
font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		color: $cgrade;
	}

	.o-percentcolor__dgrade {
	font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		color: $dgrade;
	}

	.o-perecentcolor__fgrade {
	font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		color: $fgrade;
	}
	.o-number {
	font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
	font-weight: bold;

}
.o-percentcard-container__cardfooter {
		
	font-family: arial, sans-serif;
	text-align: center;
		
		font-weight: bold;
	}




