.o-icon-text {
	font: 10px sans-serif;
	font-size: 125%;
	text-anchor: middle;
	font-weight: bold;
}
.o-calendarImage {
	font: 10px sans-serif;
	font-size: 100%;
	text-anchor: middle;
	font-weight: bold;
    position: relative;
    top: 45px;
    left: 5px;
}

.o-calendar-title {
	fill: #5C656B;
	font-size: 125%;
	margin-bottom: 0px;
	margin-top: 10px;
	font-weight: bold;
}

#make parent css

.o-percentcolor__agrade {
font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		fill: $agrade;
	}

	.o-percentcolor__bgrade {
font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		fill: $bgrade;
	}

	.o-percentcolor__cgrade { 
font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		fill: $cgrade;
	}

	.o-percentcolor__dgrade {
	font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		fill: $dgrade;
	}

	.o-perecentcolor__fgrade {
	font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
		fill: $fgrade;
	}
	.o-number {
	font: 10px sans-serif;
	font-size: 200%;
	text-anchor: middle;
	font-weight: bold;
	font-weight: bold;

}
